{% comment %} Footer File {% endcomment %}
<head>
    <style>
    footer {
    background-color: #f8f9fa; /* Change to your preferred color */
    padding: 50px 0 0px;
    margin-top:50px;
    text-align: center;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    margin: 0 10px;
    color: #333; /* Adjust color as needed */
}

.contact-info p {
    margin-bottom: 10px;
}
</style>
</head>

{% comment %} Code for the footer {% endcomment %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-info">
                    <p><strong>Email:</strong> armstrongapp@developers.com</p>
                    <p><strong>Address:</strong> 104 Street, Oakland Drive, New Jersey.</p>
                    <p><strong>Contact Number:</strong> +1234567890</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="footer-links">
                    <a href="https://www.facebook.com/">Facebook</a>
                    <a href="https://www.twitter.com/">Twitter</a>
                    <a href="https://www.instagram.com/">Instagram</a>
                </div>
                <p>&copy; 2024 Armstrong App. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
