{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to The Armstrong App</title>
    <!-- Link to Bootstrap CSS (you can replace this with the CDN link) -->
    <link rel="stylesheet" type="text/css" href="{% static 'Armstrong_App/css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <!-- Navbar -->
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Armstrong App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- Other navbar items -->
  
        <!-- Settings dropdown -->
        {% if user.is_authenticated %}
        <li class="nav-item dropdown" id="dropdown-content">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'create_profile' %}">Create Profile</a>
            <a class="dropdown-item" href="{% url 'update_profile' %}">Update Profile</a>
            <a class="dropdown-item" href="{% url 'delete_profile' %}">Delete Profile</a>
            <div class="dropdown-divider"></div>
            <p class="dropdown-item">{{ user.username }} is logged in</p><br>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </nav>
  

    <!-- Landing Page -->
    <div class="landing">
        <h1 class="display-4">WELCOME TO THE ARMSTRONG APP</h1>
        <p class="lead">Your go-to platform for amazing experiences.</p>
        <a href="{% url 'register' %}" class="btn btn-custom btn-lg">Register</a>
        <a href="{% url 'login' %}" class="btn btn-custom btn-lg ml-2">Login</a>
    </div>

    <!-- Link to Bootstrap JS and jQuery (you can replace these with the CDN links) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
