{% block content %}
{% load static%}



{% comment %} Css File Link {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'Armstrong_App/css/styles.css' %}">
  <div class="search-container">
    <h2 class="top">Armstrong Number Search</h2>

    <form method="post" action="{% url 'search' %}" id="armstrongSearchForm">
      {% csrf_token %}
      
      {% comment %} Form for User Search Range Input {% endcomment %}
      <label for="rangeInput">Search Range:</label>
      <input type="radio" id="rangeInput" name="inputType" value="range" checked>
      <input type="number" id="minNumber" name="minNumber" placeholder="Min">
      <input type="number" id="maxNumber" name="maxNumber" placeholder="Max">

      <br><br>

      {% comment %} Form for User Single Number Input {% endcomment %}
      <label for="singleInput">Check Single Number:</label>
      <input type="radio" id="singleInput" name="inputType" value="single">
      <input type="number" id="singleNumber" name="singleNumber" placeholder="Enter a Number">

      <br><br>
      {% comment %} Buttons for Armstrong App Functions {% endcomment %}
      <button type="submit" class="search-btn">Search</button>
      <input type="reset" value="Clear" onclick="clearResults()" class="clear-btn">
      <a href="{% url 'show_attempts' %}"><button type="button" class="attempts-btn">Show Attempts</button></a>
    </form>
    
    {% comment %} Code for showing app results {% endcomment %}
    <div id="resultContainer">
      {% if result %}
        {% if result.input_type == 'range' %}
          <h3>Armstrong Numbers in the Range:</h3>
          {% if result.armstrong_numbers %}
            <ul>
              {% for armstrong_number in result.armstrong_numbers %}
                <li>{{ armstrong_number }}</li>
              {% endfor %}
            </ul>
            <p>Total Count: {{ result.total_count }}</p>
          {% else %}
            <p>No Armstrong numbers found in the specified range.</p>
          {% endif %}
        {% elif result.input_type == 'single' %}
          <h3>Result for Single Number:</h3>
          {% if result.is_armstrong %}
            <p> It is an Armstrong Number</p>
          {% else %}
            <p>Not an Armstrong Number</p>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% comment %} Javascript Code for resetting form content {% endcomment %}
  <script>
    function clearResults() {
      document.getElementById("armstrongSearchForm").reset();
      document.getElementById("resultContainer").style.display = "none";
    }
  </script>

  {% comment %} Back to Home Button {% endcomment %}
<div class="wrapped">
  <a href="{% url 'home' %}"><button type="button" class="back-btn">Go Back to Home</button></a>
</div>



{% endblock %}
